
<form name="formulaire">
    <select name="category" id="Select" onChange="list()">
        <option value="0">Select a category</option>
    </select>
</form>


<center><table width=60% border=1 id="table">
    <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Year</th>
    </tr>
    </table>
</center>


