<html lang="en">
<head>
    {{header}}
    <!-- <meta> tags> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    <script>
    function select(){
        fetch("http://localhost:3000/prizes/category/types")
            .then((response) => response.json())
            .then((data) => 
            {
                var select = document.getElementById("Select");
                for (var i = 0; i < data.data.length; i++) {
                    var option = document.createElement("option");
                    option.text = data.data[i];
                    select.add(option);
                }
            })
    }

    function list(){
        var table = document.getElementById("table");
        var tableHeaderRowCount = 1;
        var rowCount = table.rows.length;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
        var select = document.getElementById("Select");
        var value = select.options[select.selectedIndex].value;
        fetch("http://localhost:3000/prizes/display/all")
            .then((response) => response.json())
            .then((data) => 
            {
                for (var i = 0; i < data.data.length; i++) {
                    if(data.data[i].laureates){
                        if(value == data.data[i].category){
                            for(var j = 0;j<data.data[i].laureates.length;j++){
                                    var row = table.insertRow(1);
                                    var cell1 = row.insertCell(0);
                                    var cell2 = row.insertCell(1);
                                    var cell3 = row.insertCell(2);
                                    cell1.innerHTML = data.data[i].laureates[j].firstname;
                                    cell2.innerHTML = data.data[i].laureates[j].surname;
                                    cell3.innerHTML = data.data[i].year;
                            }
                        }
                    }
                }
            })
    }

</script>
<title>{{post.title}}</title>
</head>
<body onload="select()">
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>
